* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-spacing: 0;
}

.sudoku-solver {
  margin: auto;
  width: 50%;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196f3;
  padding: 3px;
}

.item1 {
    grid-row-start: 1;
    grid-row-end: 9;
  }
