 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-spacing: 0;
}


.sudoku-solver {
  margin: auto;
  width: 50%;
}

.grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-rows: 2fr;
  grid-template-columns: repeat(9, 2fr);
  grid-template-rows: repeat(9, 2fr);
  grid-gap: 5px;
  margin: auto;
  margin-left: 600px;
  margin-right: 500px;
  background-color: rgb(255, 181, 255);

}
.box {
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  height: 70px;
  width: 70px;
  text-align: center;
  margin: auto;
  box-shadow: 2px 2px 2px 2px rgb(255, 0, 251);
}

.box input:hover {
  box-shadow: inset 2px 2px 20px 20px rgb(255, 142, 253);
}

h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 70px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: overline underline rgb(204, 0, 255);
 
}

input {
  height: 70px;
  width: 70px;
  text-align: center;
  font-size: 50px;
  font-family:cursive;
  font-weight: bold;
  /* color: rgb(106, 106, 106); */
}

.grid .box-1 input {
  background-color: rgb(255, 194, 251);
}

.inst {
  font-size: 22px;
  width: 30%;
  margin-left: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  float: left;
}

.icon-search {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
  color: #000000;
}

.btn-cl {
  position: fixed;
  top: 100px; 
  right: 20px; 
 
  margin-right: 50px;
  border: 5px solid black;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 5px rgb(225, 0, 255);
 
}

.btn {
  width: 180px;
  height: 70px;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  font-size: 26px;
  text-decoration: underline rgb(188, 188, 188);
  border-radius: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
  align-items: center;

  background-color: rgb(255, 179, 250);
  text-decoration: underline rgb(255, 0, 238);
  border:2px solid white;
  box-shadow: 2px 2px 7px 7px rgb(255, 136, 255);
  cursor: pointer;
}


.btn1 {
  width: 180px;
  height: 70px;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  font-size: 30px;
  text-decoration: underline rgb(255, 0, 238);
  border-radius: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
  align-items: center;
  padding-left: 45px;

  background-color: rgb(255, 179, 250);
  border:2px solid white;
  box-shadow: 2px 2px 7px 7px rgb(255, 136, 255);
  cursor: pointer;
}


.btn:hover,.btn1:hover{
  box-shadow: inset 2px 2px 5px 5px rgb(255, 255, 255);
  border: 2px solid rgb(231, 0, 197);
  text-decoration:double underline rgb(211, 28, 202);
  
}





/* 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-spacing: 0;
}

.sudoku-solver {
  margin: auto;
  width: 50%;
}

.puzzle {
  width: 540px;
  height: 540px;
}

.puzzle input {
  text-align: center;
  font-size: 30px;
  width: 60px;
  height: 60px;
  border: 1px #808080 solid;
}

.odd-section {
  background: #d3d3d3;
}

 */



